html{
    background-color: #1F1F1F;
    font-family: calibri-regular;
}

@font-face {
    font-family: calibri-regular;
    src: url(./assets/fonts/Calibri\ Regular.ttf);
}
@font-face {
    font-family: calibri-bold;
    src: url(./assets/fonts/Calibri\ Bold.TTF);
}

.conteinar{
    width: 75vw;
    height: 95vh;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -2px 10px 12px 0px rgb(20 20 20 / 75%)
}

.audio-player{
    width: 100%;
    height: 10%;
    background-color: rgb(0 0 0);

    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-controls{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    margin-top: 2.5vh;
}

.audio-controls .icons img:not(.play){
    height: 50%;
}
.backward{
    transform: rotate(180deg);
}
.play{
    height: 55%;
}

.audio-duration{
    color: white;
    font-size: 19px;
    margin-left: 1vw;
    margin-right: -5vw;
}
.audio-list{
    width: 100%;
    height: 70%;
    overflow: scroll;
}
.song-item{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.song-item:hover{
    transition: 0.2s;
    background-color: #202020;
}
.song-description{
    margin-left: 3vw;
    width: 40%;
}
.song-description p{
    margin: 0;
}
.song-duration{
    margin-right: 2vw;
}
.song-duration{
    margin-left: auto;
}
.song-counter{
    margin-left: 2vw;
    width: 5%;
    height: 100%;
    text-align: center;
}
.song-name{
    font-family: calibri-bold;
}
.album-description{
    width: 100%;
    height: 25%;
    background-color: #292929;
    display: flex;
    align-items: center;
}
.audio-img{
    height: 80%;
    margin-left: 2vw;
}

.album-description .song-name{
    font-size: 33px;
    color: white;
    margin: 0;
    margin-left: 1vw;
}
.album-details{
    display: flex;
    align-items: center;
}
.album-details p{
    color:#d7e4e4;
    margin: 0;
    margin-left: 1vw;
}
.audio-volume{
    height: 100%;
    width: 15%;
    margin-right: -23vw;
    margin-left: 13vw;
    margin-top: 7vh;
}
.volume{
    width: 21%;
}
.volume-progress-bar{
    width: 100%;
    outline: none;
}
.volume{
    height: 60%;
}

.current-details{
    align-self: self-end;
    margin-bottom: 2vh;
}

.song-item p{
    color: white;
}

i{
    color: white;
}

.audio-volume .volume-progress-bar{
    -webkit-appearance: none;
    height: 5%;
    width: 70%;
    border-radius: 2vw;
    background-color: #4C4B4B;
}

.audio-volume .volume-progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    visibility: hidden;
}

.audio-volume .volume-progress-bar:hover::-webkit-slider-thumb{
    visibility: visible;
}

.audio-progress-bar{
    width: 150%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5vh;
}

.progress-bar{
    width: 100%;
    -webkit-appearance: none;
    height: 20%;
    border-radius: 2vw;
    background-color: #4C4B4B;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    visibility: hidden;
}

.progress-bar:hover::-webkit-slider-thumb{
    visibility: visible;
}

.play{
    width: 2%;
}
.forward:active{
    color: rgb(85, 179, 94);
    transition: 0.1s;
}
.backward:active{
    color: rgb(85, 179, 94);
    transition: 0.1s;
}

.audio-playing-animation{
    width: 2.5vw;
    height: 3.5vh;
    align-items: end;
    display: flex;
    justify-content: space-evenly;
    margin-left: 3vw;
}

.bar{
    background-color: white;
    animation: up-down 1.3s ease infinite alternate;
}

.bar-1{
    width: 25%;
    height: 60%;
}

.bar-2{
    width: 25%;
    height: 30%;
    animation-delay: -2.2s;
}

.bar-3{
    width: 25%;
    height: 70%;
    animation-delay: -3.2s;
}

@keyframes up-down {
    10% {
        height: 30%;
      }
      
      30% {
        height: 100%;
      }
      
      60% {
        height: 50%;
      }
      
      80% {
        height: 75%;
      }
      
      100% {
        height: 60%;
      }
}