html{
    background-color: rgb(52 68 68);
    font-family: calibri-regular;
}

@font-face {
    font-family: calibri-regular;
    src: url(./assets/fonts/Calibri\ Regular.ttf);
}
@font-face {
    font-family: calibri-bold;
    src: url(./assets/fonts/Calibri\ Bold.TTF);
}

.conteinar{
    width: 75vw;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid white 3px;
}
.audio-player{
    width: 100%;
    height: 15%;
    background-color: rgb(196 223 223);
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-controls{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
}

.audio-controls .icons img:not(.play){
    height: 50%;
}
.backward{
    transform: rotate(180deg);
}
.play{
    height: 55%;
}
/* @keyframes bigger {
    0%{
        height: 30%;
    }
    50%{
        height: 33%;
    }
    100%{
        height: 30%;
    }
} */

/* .play:active{
    animation-name: bigger;
    animation-duration: 0.3s;
} */
.audio-progress-bar{
    width: 150%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar{
    width: 100%;
    -webkit-appearance: none;
    height: 20%;
    border-radius: 2vw;
    background-color: #a3bfbf;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.audio-duration{
    color: white;
    font-size: 19px;
    margin-left: 1vw;
    margin-right: -5vw;
}
.audio-list{
    width: 100%;
    height: 70%;
    overflow: scroll;
}
.song-item{
    cursor: pointer;
    display: flex;
    /* justify-content: space-between */
    align-items: center;
}
.song-item:hover{
    transition: 0.2s;
    background-color: #a3bfbf;
}
.song-description{
    margin-left: 3vw;
}
.song-description p{
    margin: 0;
}
.song-duration{
    margin-right: 2vw;
}
.song-duration{
    margin-left: auto;
}
.song-counter{
    margin-left: 3vw;
}
.song-name{
    font-family: calibri-bold;
}
.album-description{
    width: 100%;
    height: 30%;
    background-color: #8ca7a7;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    display: flex;
    align-items: center;
}
.audio-img{
    border-radius: 2vw;
    height: 80%;
    margin-left: 1vw;
    border: solid white 2px;
}

.album-description .song-name{
    font-size: 33px;
    color: white;
    margin: 0;
    margin-left: 1vw;
}
.album-details{
    display: flex;
    align-items: center;
}
.album-details p{
    color:#d7e4e4;
    margin: 0;
    margin-left: 1vw;
}
.audio-volume{
    height: 100%;
    width: 30%;
}
.volume-progress-bar{
    width: 100%;
}
.volume{
    height: 60%;
}